.firstTitle {
  margin-top: 32px;
}

.textblock {
  margin: 20px 0;
  font-size: 17px;
  max-width: 600px;
}

.age {
  position: relative;
  color: #4146B5;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.age:before {
  content: 'Yeah this actually updates :)';
  position: absolute;
  background-color: #4146B5;
  color: white;
  top: -65px;
  left: -60px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  line-height: 1;
  padding: 10px 0;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 150ms ease-in-out;
}

.age:after {
  content: '';
  position: absolute;
  top: -11px;
  left: 0;
  border: solid 10px transparent;
  border-top-color: #4146B5;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 150ms ease-in-out;
}

.age:hover:before, .age:hover:after {
  opacity: 1;
  transform: translateY(0)
}

.link {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  transition: color 150ms ease-in-out;
}

.link:hover {
  color: #4146B5;
}

.link:hover .arrow {
  transform: translateY(4px);
}

.arrow {
  margin-right: 6px;
  display: inline-block;
  font-size: 20px;
  color: #4146B5;
  transition: transform 150ms ease-in-out;
}

.avatar {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: border-radius 200ms ease-in-out;
  margin-top: 16px;
}