.firstTitle {
  margin-top: 2em;
}

.textblock {
  margin: 1.25rem 0;
  font-size: 1.1em;
  max-width: 38rem;
}

.age {
  position: relative;
  color: #4146B5;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.age:before {
  content: 'Yeah this actually updates :)';
  position: absolute;
  background-color: #4146B5;
  color: white;
  top: -4em;
  left: -4.5em;
  border-radius: .5em;
  text-align: center;
  width: 10em;
  line-height: 1;
  padding: .75em 0;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-1.25em);
  transition: all 150ms ease-in-out;
}

.age:after {
  content: '';
  position: absolute;
  top: -.6em;
  left: 0;
  border: solid .625em transparent;
  border-top-color: #4146B5;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-1.25em);
  transition: all 150ms ease-in-out;
}

.age:hover:before, .age:hover:after {
  opacity: 1;
  transform: translateY(0)
}

.link {
  display: block;
  margin-bottom: 1rem;
  font-size: 20px;
  transition: color 150ms ease-in-out;
}

.link:hover {
  color: #4146B5;
}

.link:hover .arrow {
  transform: translateY(.25rem);
}

.arrow {
  margin-right: .5rem;
  display: inline-block;
  font-size: 1.25em;
  color: #4146B5;
  transition: transform 150ms ease-in-out;
}

.avatar {
  position: relative;
  width: 100%;
  max-width: 38em;
  height: 20em;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: border-radius 200ms ease-in-out;
  margin-top: 1em;
}