.link {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1.5rem;
  transition: color 150ms ease-in-out;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.link:hover {
  color: #4146B5;
}

.link:hover .arrow {
  transform: translateX(-.25rem);
}

.arrow {
  font-size: 1.25rem;
  margin-right: .5rem;
  display: inline-block;
  color: #4146B5;
  transition: transform 150ms ease-in-out;
}
