.container {
  display: flex;
  margin: 32px 0 48px;
}

.text {
  font-size: 18px;
  width: 60%;
}

@media (max-width: 1000px) {
  .container {
    display: block;
  }

  .text {
    width: 100%;
    max-width: 750px;
  }
}

.headerImg {
  width: 100%;
  border-radius: 16px;
  margin: 12px 0 32px;
  box-shadow: 0 1px 19px rgb(0 0 0 / 10%), 0 1px 9px rgb(0 0 0 / 10%);
}

.embed {
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 16px;
  margin: 12px 0 32px;
  box-shadow: 0 1px 19px rgb(0 0 0 / 10%), 0 1px 9px rgb(0 0 0 / 10%);
}