.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 1.5em 0;
  padding: .25em 1.5em 1.25em;
  border-radius: 1em;
  color: white;
  transition: transform 150ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #4146B5;
  background-image: linear-gradient(#4146B5, #7b41b5);
  background-attachment: fixed;
  text-decoration: none;
  font-weight: 500;
}

.image {
  position: relative;
  display: block;
  margin: 1.5em 0 0;
  border-radius: 1em;
  height: 19em;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  box-shadow: rgb(0, 0, 0, 0.24) -10px 4px 15px;
  transition: all 150ms ease-in-out;
}

.description {
  margin-bottom: 1.5em;
}

.card p {
  max-width: 28em;
}

.card:hover, 
.card:focus {
  transform: scale(1.02);
}

.card:hover .favoriteIcon svg, 
.card:focus .favoriteIcon svg {
  transform: rotate(360deg);
}

.card:hover .favoriteText,
.card:focus .favoriteText {
  width: 11rem;
  opacity: 1;
}

.card:hover .favoriteText p,
.card:focus .favoriteText p {
  opacity: 1;
  transition: opacity 100ms ease-in-out 150ms;
}

.year {
  position: relative;
  top: .75em;
  margin-bottom: 1em;
}

.card h2 {
  font-size: 3em;
  max-width: 28em;
  line-height: 1;
  margin-bottom: .75rem;
}

.favorite {
  display: flex;
  position: absolute;
  top: -2em;
  right: -.5em;
  z-index: 2;
}

@media (min-width: 1100px) {
  .favorite {
    right: -2em;
  }
}

.favoriteText {
  margin-top: .75rem;
  padding: .25rem 1rem 0 0;
  height: 2.5rem;
  width: 0;
  opacity: 0;
  text-align: right;
  font-weight: 600;
  font-size: 1.25em;
  background: #272a6c;
  background-image: linear-gradient(#333893, #272a6c);
  border-radius: 1rem 0 0 1rem;
  transform: translateX(1rem);
  transition: all 200ms ease-in-out;
}

.favoriteText p {
  opacity: 0;
  transition: opacity 50ms ease-in-out;
}

.favoriteIcon {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #272a6c;
  background-image: linear-gradient(#333893, #272a6c);
}

.favoriteIcon svg {
  display: block;
  margin: .5em auto;
  height: 3em;
  transition: transform 800ms cubic-bezier(0.7, -0.6, 0.3, 1.6);
}

@media (min-width: 64em) {
  .card {
    height: 22em;
  }

  .card p {
    max-width: 18em;
  }

  .card h2 {
    max-width: 8em;
  }

  .image {
    margin: 0;
    position: absolute;
    width: 28em;
    top: 1.5em;
    right: 0;
    border-radius: 1em 0 0 1em;
  }

  .card:hover {
    transform: scale(1.02) translateY(-5px);
  }
  
  .card:hover .image {
    right: 1.5em;
    border-radius: 1em;
  }
}