.container {
  line-height: 0;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 16px;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
}

.container img {
  margin: 8px 0;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

@media (max-width: 800px) {
  .container {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}