.container {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0;
  align-items: flex-start;
}

.column {
  width: 50%;
}

.photo {
  border-radius: 16px;
  width: 100%;
  padding: 6px;
  height: auto;
}

@media (max-width: 800px) {
  .column {
    width: 100%;
  }
}