.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 100%;
  margin: 24px 0;
  padding: 6px 24px;
  border-radius: 16px;
  color: white;
  transition: transform 150ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #4146B5;
  background-image: linear-gradient(#4146B5, #7b41b5);
  background-attachment:fixed;
}

.card img {
  position: absolute;
  top: 25px;
  right: 0px;
  height: 300px;
  width: 450px;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
  box-shadow: rgb(0, 0, 0, 0.24) -10px 4px 15px;
  transition: all 150ms ease-in-out;
}

.card p {
  max-width: 300px;
}

.card:hover {
  transform: scale(1.02) translateY(-5px);
}

.card:hover img {
  right: 25px;
  border-radius: 16px;
}

.year {
  font-size: 16px;
  position: relative;
  top: 14px;
  margin-bottom: 16px;
}

.card h2 {
  font-size: 48px;
  max-width: 450px;
  line-height: 1;
  margin-bottom: 12px;
}

.icons {
  margin-top: auto;
  display: flex;
  margin-bottom: 16px;
}

.icons p {
  margin: 0 12px;
}
