.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 24px 0;
  padding: 6px 24px 20px;
  border-radius: 16px;
  color: white;
  transition: transform 150ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #4146B5;
  background-image: linear-gradient(#4146B5, #7b41b5);
  background-attachment:fixed;
}

.image {
  position: relative;
  display: block;
  border-radius: 16px;
  height: 300px;
  width: 450px;
  max-width: 100%;
  object-fit: cover;
  box-shadow: rgb(0, 0, 0, 0.24) -10px 4px 15px;
  transition: all 150ms ease-in-out;
}

.card p {
  max-width: 300px;
}

.card:hover {
  transform: scale(1.02);
}

@media (min-width: 1000px) {
  .card {
    height: 350px;
  }

  .image {
    position: absolute;
    top: 25px;
    right: 0px;
    border-radius: 16px 0 0 16px;
  }

  .card:hover {
    transform: scale(1.02) translateY(-5px);
  }
  
  .card:hover .image {
    right: 25px;
    border-radius: 16px;
  }
}

.year {
  font-size: 16px;
  position: relative;
  top: 14px;
  margin-bottom: 16px;
}

.card h2 {
  font-size: 48px;
  max-width: 450px;
  line-height: 1;
  margin-bottom: 12px;
}

.icons {
  margin-top: auto;
  display: flex;
}

.icons img {
  height: 48px;
  width: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.favorite {
  display: flex;
  position: absolute;
  top: -40px;
  right: -15px;
  z-index: 2;
}

.favoriteText {
  margin-top: 15px;
  padding: 5px 10px 0 0;
  height: 45px;
  width: 175px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
  background: #1f1f1f;
  border-radius: 16px 0 0 16px;
  transform: translateX(10px);
}

.favoriteIcon {
  width: 75px;
  border-radius: 50%;
  background: #1f1f1f;
}

.favoriteIcon img {
  display: block;
  margin: 10px auto;
  height: 55px;
}