.nav {
  padding: 25px;
  position: fixed;
  z-index: 3;
  background: white;
  left: 0;
  opacity: 0;
  top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  transform: translateX(100vw);
  transition: all 200ms ease-in-out;
  pointer-events: none;
}

.nav.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.a {
  display: block;
  color: #1f1f1f;
  font-weight: 600;
  font-size: 48px;
}

.nav .active {
  text-decoration: underline;
  text-decoration-color: #4146B5;
  text-decoration-thickness: 6px;
}

.logo {
  position: absolute;
  left: calc(-75vw + 50%);
  margin-top: 64px;
  width: 150vw;
  height: auto;
  opacity: .3;
}