.frame {
  width: 100%;
  height: 40em;
  border: none;
  border-radius: 1em;
  margin: 1em 0 2em;
  box-shadow: 0 1px 19px rgb(0 0 0 / 10%), 0 1px 9px rgb(0 0 0 / 10%);
  animation: fadein 250ms ease-in-out;
}

.link {
  text-decoration: none;
  color: black;
}

@keyframes fadein {
  from {
    transform: translateY(-1.5em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}