.header {
  height: 100px;
}

.nav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 26px;
  justify-content: flex-end;
}

.container {
  display: flex;
}

.a {
  margin: 0 20px;
}

.a:last-child {
  margin-right: 0;
}

.logo {
  margin-right: auto;
}

.logo svg {
  height: 50px;
}

.p {
  margin-top: 10px;
  color: #1f1f1f;
  font-weight: 600;
  font-size: 18px;
}

.p.active {
  text-decoration: underline;
  text-decoration-color: #4146B5;
  text-decoration-thickness: 4px;
}

@media (max-width: 470px) {
  .container {
    height: 70px;
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 3px solid white;
    justify-content: space-evenly;
  }

  .container:before {
    content: "";
    background: none;
    border-top: 3px solid #4146B5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .a {
    margin: 8px 0;
  }
}