.footer {
  position: absolute;
  bottom: 0;
  background: #7b41b5;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 25px;
  display: flex;
  justify-content: center;
}

.link {
  width: 50px;
  margin: 0 12.5px;
}

@media (max-width: 470px) {
  .footer {
    height: 220px;
  }
}