.container {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 16em;
  padding: 1.5em 2em;
  border-radius: 1em;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #4146B5;
  margin-left: auto;
}

@media (max-width: 64em) {
  .container {
    margin: 2em 0 0;
    width: 100%;
  }
}

.arrow {
  display: inline-block;
  transition: transform 150ms ease-in-out;
}

.link:hover {
  color: #d2d4ff;
}

.link:hover .arrow {
  transform: translateX(.25em);
}